@model TP_Bibliotheque.Models.ViewModel.AuthorModelView

@{
    ViewBag.Title = "Liste des auteurs.";
}

<h1>Authors' list</h1>

<ul>
    @foreach (var auteur in @Model.GetAuthors())
    {
        <li>
            @auteur.Name @auteur.Firstname @Html.ActionLink("Details", "Details", new { id = auteur.Id})  (TODO  edit / remove)
        </li>
    }

    @Html.ActionLink("Add Author", "Add");
</ul>