@model TP_Bibliotheque.Models.ViewModel.ShowBookModelView

@{
    ViewBag.Title = "Details";
}

<h2>Details about this book : @Model.getBook().Title published in @Model.getBook().PublicationDate.ToLongDateString()</h2>

<ul>
    <li>Author : @Model.getBook().Author.Firstname @Model.getBook().Author.Name</li>
    <li>Thematic : @Model.getBook().Thematic</li>
    <li>Edition : @Model.getBook().Edition</li>
    <li>Quantity : @Model.getBook().AvailableQuantity</li>
</ul>