@model TP_Bibliotheque.Models.ViewModel.BookModelView

@{
    ViewBag.Title = "Books liste";
}

<h1>Books' list</h1>

<ul>
    @foreach (var book in @Model.GetBooks())
    {
        <li>
            @book.Title [@book.Author.Name] (@book.AvailableQuantity)  @Html.ActionLink("More on this book", "Details", new { id = book.Id }) <br />
                @Html.ActionLink("Edit this book", "Edit", new { id = book.Id }) / @Html.ActionLink("Delete this book", "Delete", new { id = book.Id })
        </li>
    }

    @Html.ActionLink("Add Book", "Add");
</ul>