@model TP_Bibliotheque.Models.ViewModel.MembersModelView

@{
    ViewBag.Title = "Liste des membres enregistrés.";
}

<h1>Members' list</h1>

<ul>
    @foreach (var membre in @Model.GetMembers()) // Parcours de la liste de tous les membres 
    {
        <li>
            @membre.Name @membre.Firstname @Html.ActionLink("Détails", "Details", new { id = membre.Id }) <br />
            @Html.ActionLink("Edit the member", "Edit", new { id = membre.Id }) (TODO  edit / remove)
        </li>
    }

    @Html.ActionLink("Add member", "Add");
</ul>